bin/jawt.dll filter=lfs diff=lfs merge=lfs -text
bin/jfr.dll filter=lfs diff=lfs merge=lfs -text
bin/jp2native.dll filter=lfs diff=lfs merge=lfs -text
bin/klist.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-file-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-string-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/splashscreen.dll filter=lfs diff=lfs merge=lfs -text
bin/JavaAccessBridge-32.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-string-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-namedpipe-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/sunec.dll filter=lfs diff=lfs merge=lfs -text
bin/javaw.exe filter=lfs diff=lfs merge=lfs -text
bin/jp2iexp.dll filter=lfs diff=lfs merge=lfs -text
bin/nio.dll filter=lfs diff=lfs merge=lfs -text
bin/bci.dll filter=lfs diff=lfs merge=lfs -text
bin/dt_socket.dll filter=lfs diff=lfs merge=lfs -text
bin/mlib_image.dll filter=lfs diff=lfs merge=lfs -text
bin/pack200.exe filter=lfs diff=lfs merge=lfs -text
bin/prism_d3d.dll filter=lfs diff=lfs merge=lfs -text
bin/servertool.exe filter=lfs diff=lfs merge=lfs -text
bin/javaws.exe filter=lfs diff=lfs merge=lfs -text
bin/npt.dll filter=lfs diff=lfs merge=lfs -text
bin/glass.dll filter=lfs diff=lfs merge=lfs -text
bin/jpeg.dll filter=lfs diff=lfs merge=lfs -text
bin/policytool.exe filter=lfs diff=lfs merge=lfs -text
bin/dcpr.dll filter=lfs diff=lfs merge=lfs -text
bin/jp2launcher.exe filter=lfs diff=lfs merge=lfs -text
bin/jabswitch.exe filter=lfs diff=lfs merge=lfs -text
bin/unpack200.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-libraryloader-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-localization-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-multibyte-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/jsdt.dll filter=lfs diff=lfs merge=lfs -text
bin/rmiregistry.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-interlocked-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-timezone-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/unpack.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-datetime-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-filesystem-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/lcms.dll filter=lfs diff=lfs merge=lfs -text
bin/jsoundds.dll filter=lfs diff=lfs merge=lfs -text
bin/prism_sw.dll filter=lfs diff=lfs merge=lfs -text
bin/resource.dll filter=lfs diff=lfs merge=lfs -text
bin/w2k_lsa_auth.dll filter=lfs diff=lfs merge=lfs -text
bin/wsdetect.dll filter=lfs diff=lfs merge=lfs -text
bin/API-MS-Win-core-xstate-l2-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/hprof.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-math-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/dtplugin filter=lfs diff=lfs merge=lfs -text
bin/j2pkcs11.dll filter=lfs diff=lfs merge=lfs -text
bin/javafx_iio.dll filter=lfs diff=lfs merge=lfs -text
bin/jdwp.dll filter=lfs diff=lfs merge=lfs -text
bin/management.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-handle-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-synch-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
bin/glib-lite.dll filter=lfs diff=lfs merge=lfs -text
bin/gstreamer-lite.dll filter=lfs diff=lfs merge=lfs -text
bin/jaas_nt.dll filter=lfs diff=lfs merge=lfs -text
bin/java.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-console-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-file-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/msvcp140.dll filter=lfs diff=lfs merge=lfs -text
bin/net.dll filter=lfs diff=lfs merge=lfs -text
bin/prism_common.dll filter=lfs diff=lfs merge=lfs -text
bin/JAWTAccessBridge-32.dll filter=lfs diff=lfs merge=lfs -text
bin/jp2ssv.dll filter=lfs diff=lfs merge=lfs -text
bin/jfxwebkit.dll filter=lfs diff=lfs merge=lfs -text
bin/plugin2 filter=lfs diff=lfs merge=lfs -text
bin/t2k.dll filter=lfs diff=lfs merge=lfs -text
bin/vcruntime140.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-sysinfo-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/deploy.dll filter=lfs diff=lfs merge=lfs -text
bin/jfxmedia.dll filter=lfs diff=lfs merge=lfs -text
bin/sunmscapi.dll filter=lfs diff=lfs merge=lfs -text
bin/java_crw_demo.dll filter=lfs diff=lfs merge=lfs -text
bin/ssvagent.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-heap-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-runtime-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-heap-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-rtlsupport-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-process-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/fxplugins.dll filter=lfs diff=lfs merge=lfs -text
bin/jsound.dll filter=lfs diff=lfs merge=lfs -text
bin/WindowsAccessBridge-32.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-console-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/javacpl.exe filter=lfs diff=lfs merge=lfs -text
bin/ktab.exe filter=lfs diff=lfs merge=lfs -text
bin/zip.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-util-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/j2pcsc.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-synch-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-convert-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-locale-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/instrument.dll filter=lfs diff=lfs merge=lfs -text
bin/ucrtbase.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-errorhandling-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-file-l2-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-utility-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/orbd.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-debug-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-memory-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/kinit.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-profile-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/jjs.exe filter=lfs diff=lfs merge=lfs -text
bin/fontmanager.dll filter=lfs diff=lfs merge=lfs -text
bin/javacpl.cpl filter=lfs diff=lfs merge=lfs -text
bin/rmid.exe filter=lfs diff=lfs merge=lfs -text
bin/tnameserv.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-environment-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/dt_shmem.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-stdio-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/awt.dll filter=lfs diff=lfs merge=lfs -text
bin/java.exe filter=lfs diff=lfs merge=lfs -text
bin/keytool.exe filter=lfs diff=lfs merge=lfs -text
bin/ssv.dll filter=lfs diff=lfs merge=lfs -text
bin/verify.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-private-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/eula.dll filter=lfs diff=lfs merge=lfs -text
bin/jli.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-processenvironment-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/javafx_font.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-conio-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-crt-time-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/client filter=lfs diff=lfs merge=lfs -text
bin/decora_sse.dll filter=lfs diff=lfs merge=lfs -text
bin/java-rmi.exe filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-processthreads-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
bin/api-ms-win-core-processthreads-l1-1-1.dll filter=lfs diff=lfs merge=lfs -text
legal/javafx filter=lfs diff=lfs merge=lfs -text
legal/jdk filter=lfs diff=lfs merge=lfs -text
lib/hijrah-config-umalqura.properties filter=lfs diff=lfs merge=lfs -text
lib/javafx.properties filter=lfs diff=lfs merge=lfs -text
lib/management filter=lfs diff=lfs merge=lfs -text
lib/rt.jar filter=lfs diff=lfs merge=lfs -text
lib/sound.properties filter=lfs diff=lfs merge=lfs -text
lib/tzdb.dat filter=lfs diff=lfs merge=lfs -text
lib/fontconfig.properties.src filter=lfs diff=lfs merge=lfs -text
lib/currency.data filter=lfs diff=lfs merge=lfs -text
lib/images filter=lfs diff=lfs merge=lfs -text
lib/jce.jar filter=lfs diff=lfs merge=lfs -text
lib/jvm.hprof.txt filter=lfs diff=lfs merge=lfs -text
lib/logging.properties filter=lfs diff=lfs merge=lfs -text
lib/tzmappings filter=lfs diff=lfs merge=lfs -text
lib/cmm filter=lfs diff=lfs merge=lfs -text
lib/calendars.properties filter=lfs diff=lfs merge=lfs -text
lib/classlist filter=lfs diff=lfs merge=lfs -text
lib/deploy filter=lfs diff=lfs merge=lfs -text
lib/jfr.jar filter=lfs diff=lfs merge=lfs -text
lib/accessibility.properties filter=lfs diff=lfs merge=lfs -text
lib/fontconfig.bfc filter=lfs diff=lfs merge=lfs -text
lib/fonts filter=lfs diff=lfs merge=lfs -text
lib/jfxswt.jar filter=lfs diff=lfs merge=lfs -text
lib/psfontj2d.properties filter=lfs diff=lfs merge=lfs -text
lib/resources.jar filter=lfs diff=lfs merge=lfs -text
lib/security filter=lfs diff=lfs merge=lfs -text
lib/content-types.properties filter=lfs diff=lfs merge=lfs -text
lib/ext filter=lfs diff=lfs merge=lfs -text
lib/jfr filter=lfs diff=lfs merge=lfs -text
lib/management-agent.jar filter=lfs diff=lfs merge=lfs -text
lib/meta-index filter=lfs diff=lfs merge=lfs -text
lib/deploy.jar filter=lfs diff=lfs merge=lfs -text
lib/i386 filter=lfs diff=lfs merge=lfs -text
lib/javaws.jar filter=lfs diff=lfs merge=lfs -text
lib/charsets.jar filter=lfs diff=lfs merge=lfs -text
lib/psfont.properties.ja filter=lfs diff=lfs merge=lfs -text
lib/net.properties filter=lfs diff=lfs merge=lfs -text
lib/flavormap.properties filter=lfs diff=lfs merge=lfs -text
lib/jsse.jar filter=lfs diff=lfs merge=lfs -text
lib/plugin.jar filter=lfs diff=lfs merge=lfs -text
lib/applet filter=lfs diff=lfs merge=lfs -text
